.summary-contact__london-container,
.summary-contact__barcelona-container {
    position: absolute;
    top: 54.6mm;
    left: 135.5mm;
}
.summary-contact__barcelona-container {
    top: 131.9mm;
}
.summary-contact__london-container > li,
.summary-contact__barcelona-container > li{
    margin-bottom: 3mm;
}
.summary-contact__name {
    font-weight: var(--font-weight-bold);
}
.summary-contact__london li a,
.summary-contact__barcelona li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--text-black);
}

.summary-contact__web {
    width: 3.3mm;
    height: 3.3mm;
    background: url('{#asset /assets/summary-contact-web.png @encoding=dataURI}') center no-repeat;
    display: inline-block;
    background-size: contain;
    margin-right: 2.8mm;
} 
.summary-contact__phone {
    width: 3.27mm;
    height: 3.27mm;
    background: url('{#asset /assets/sumamry-contact-phone.png @encoding=dataURI}') center no-repeat;
    display: inline-block;
    background-size: contain;
    margin-right: 2.8mm;
}
.summary-contact__email {
    width: 3.729mm;
    height: 2.797mm;
    background: url('{#asset /assets/summary-contact-email.png @encoding=dataURI}') center no-repeat;
    display: inline-block;
    background-size: contain;
    margin-right: 2.8mm;
}