/* VARIABLES -------------------------------------- */
:root {
  /* COLOURS */
  --primary-coral: #fa7268;
  --text-black: #404040;
  --accent-yellow--dark-bkg: #ffca4d;
  --accent-yellow--light-bkg: #d2a224;
  --accent-green--dark-bkg: #63f1a4;
  --accent-green--light-bkg: #27c27a;
  --accent-blue--dark-bkg: #53ceea;
  --accent-blue--light-bkg: #00a0bb;
  --functional-light-grey: #e0e0e0;
  --functional-medium-grey: #85898f;
  
  --background-peach: #fff0e0;
  
  /* TYPE */
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  --font-size-body: 10pt;
  --line-height-body: 1.5em;
}




/* TYPE -------------------------------------- */
html, body {
  font-family: proxima-nova;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--text-black);
}

/* LAYOUTS -------------------------------------- */
.page {
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-width: 210mm;
  min-height: 297mm;
  max-width: 210mm;
  max-height: 297mm;
  
}
.page-break-before {
  break-before: page;
}

.page-break-after {
  break-after: page;
}

/* STYLING -------------------------------------- */
html {
  background: dimgray;
}
body {
  padding: 0;
  margin: 0;
}

/* Remove after refactoring assesment bars */
.hidden {
    display: none !important;
}
