/* VARIABLES -------------------------------------- */
:root {
  /* COLOURS */
  --crimson: hsl(342.7, 88.5%, 44.5%);
  --tango: hsl(24.2, 86.3%, 54.3%);
  --gold: hsl(48.9, 100%, 50%);

  --java: hsl(168.5,77%,47.8%);
  --picton-blue: hsl(204.2, 86.3%, 54.3%);
  --dodger-blue: hsl(242.4, 100%, 65.9%);

  --persimmon: hsl(2.4,100%,65.9%);
  --persimmon--dark: hsl(8.2,100%,60%);
  --midnight-blue: hsl(209.7, 98%, 19.4%);
  --midnight-blue--dark: hsl(209.7, 98%, 15.4%);

  --athens-gray: hsl(240, 4%, 95.1%);
  --french-gray: hsl(240, 3.9%, 75.1%);
  --mid-gray: hsl(240, 3.9%, 40%);
  --shark: hsl(240, 3.9%, 20%);
  --woodsmoke: hsl(240, 3%, 5%);

  /* TYPE */
  --light-font-weight: 300;
  --welter-font-weight: 400;
  --middle-font-weight: 600;
  --heavy-font-weight: 800;

  --font-size-body: 10pt;
  --line-height-body: 1.5em;
}




/* TYPE -------------------------------------- */
html, body {
  font-family: proxima-nova, sans-serif;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--shark);
}

/* LAYOUTS -------------------------------------- */
.page {
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-width: 210mm;
  min-height: 297mm;
  max-width: 210mm;
  max-height: 297mm;

}
.page-break-before {
  break-before: page;
}

.page-break-after {
  break-after: page;
}

/* STYLING -------------------------------------- */
html {
  background: dimgray;
}
body {
  padding: 0;
  margin: 0;
}

/* Remove after refactoring assesment bars */
.hidden {
  display: none !important;
}
