/********************************************************************************
 *                                                                              *
 * NOTE: For Subcategory/Lang dependent settings, see at the bottom of the file *
 *                                                                              *
 ********************************************************************************/

/* Gauge - */
.gauge-subcategory {
    position: absolute;
    left: 28.3mm;
    width: 155.3mm;
    display: flex;
    align-items: center;
}



/* Icon */
.gauge-subcategory__icon-container {
    width: 9.6mm;
}
.gauge-subcategory__icon--good {
    height: 4.5mm;
}
.gauge-subcategory__icon--average,
.gauge-subcategory__icon--average-high {
    height: 4.2mm;
}
.gauge-subcategory__icon--bad {
    height: 5.8mm;
}



/* Rule */
.gauge-subcategory__rule {
    width: 2pt;
    height: 100%;
    background: var(--accent-green--dark-bkg);
}



/* Result */
.gauge-subcategory__result {
    margin-left: 3.6mm;
    width: 141.4mm;
    align-self: flex-end;
}


/* Result - Answer */
.gauge-subcategory__answer {
    font-size: 10pt;
    font-weight: var(--font-weight-bold);
    color: var(--accent-green--dark-bkg);
    margin-bottom: 7px;
}
.on-dark .gauge-subcategory__answer.good {
    color: var(--accent-green--dark-bkg);
    background: unset;
}
.on-dark .gauge-subcategory__answer.average {
    color: var(--accent-blue--dark-bkg);
    background: unset;
}
.on-dark .gauge-subcategory__answer.bad {
    color: var(--accent-yellow--dark-bkg);
    background: unset;
}
.on-light .gauge-subcategory__answer.good {
    color: var(--accent-green--light-bkg);
    background: unset;
}
.on-light .gauge-subcategory__answer.average {
    color: var(--accent-blue--light-bkg);
    background: unset;
}
.on-light .gauge-subcategory__answer.bad {
    color: var(--accent-yellow--light-bkg);
    background: unset;
}


/* Result - Bar */
.gauge-subcategory__bar {
    height: 3mm;
}
.on-dark .gauge-subcategory__bar {
    background: var(--functional-medium-grey);
}
.on-light .gauge-subcategory__bar {
    background: #dcd1c4;
}
.gauge-subcategory__inner-fill {
    height: 100%;
    width: 50%;
}
.gauge-subcategory__markers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.gauge-subcategory__marker {
    height: 2.269mm;
    width: 0.5mm;
}
.on-dark .gauge-subcategory__marker {
    background: var(--functional-medium-grey);
}
.on-light .gauge-subcategory__marker {
    background: #dcd1c4;
}




#gauge-organisationalmaturity-devsecops-en {
    height: 32.3mm;
    top: 62.5mm;
}
#gauge-organisationalmaturity-devsecops-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-organisationalmaturity-deliveringvalue-en {
    height: 32.9mm;
    top: 120.2mm;
}
#gauge-organisationalmaturity-deliveringvalue-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-organisationalmaturity-technicaldebt-en {
    height: 32.8mm;
    top: 178.5mm;
}
#gauge-organisationalmaturity-technicaldebt-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-organisationalmaturity-methodology-en {
    height: 32.7mm;
    top: 236.8mm
}
#gauge-organisationalmaturity-methodology-es {
    height: 10.0mm;
    top: -8.0mm;
}
 
#gauge-continuousdelivery-cadence-en {
    height: 10.0mm;
    top: 82.0mm;
}
#gauge-continuousdelivery-cadence-es {
    height: 10.0mm;
    top: 82.0mm;
}
#gauge-continuousdelivery-rework-en {
    height: 10.0mm;
    top: 82.0mm;
}
#gauge-continuousdelivery-rework-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-continuousdelivery-pipeline-en {
    height: 10.0mm;
    top: 82.0mm;
}
#gauge-continuousdelivery-pipeline-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-continuousdelivery-sideeffects-en {
    height: 10.0mm;
    top: 82.0mm;
}
#gauge-continuousdelivery-sideeffects-es {
    height: 10.0mm;
    top: -8.0mm;
}
 
#gauge-culture-transparency-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-culture-transparency-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-culture-learning-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-culture-learning-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-culture-learnfromfailure-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-culture-learnfromfailure-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-culture-careerpath-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-culture-careerpath-es {
    height: 10.0mm;
    top: -8.0mm;
}
 
#gauge-crossfunctionalteams-diversity-en {
    top: 62.4mm;
    height: 27.0mm;
}
#gauge-crossfunctionalteams-diversity-es {
    top: 62.4mm;
    height: 27.0mm;
}
#gauge-crossfunctionalteams-autonomy-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-crossfunctionalteams-autonomy-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-crossfunctionalteams-wholeteam-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-crossfunctionalteams-wholeteam-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-crossfunctionalteams-knowledgesharing-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-crossfunctionalteams-knowledgesharing-es {
    height: 10.0mm;
    top: -8.0mm;
}
 
#gauge-xppractices-tdd-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-xppractices-tdd-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-xppractices-architecture-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-xppractices-architecture-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-xppractices-cleancode-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-xppractices-cleancode-es {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-xppractices-peerreview-en {
    height: 10.0mm;
    top: -8.0mm;
}
#gauge-xppractices-peerreview-es {
    height: 10.0mm;
    top: -8.0mm;
}


