.toc-page__contents {
    position: absolute;
    left: 2mm;
    left: 26mm;
    top: 80.5mm;
    font-weight: var(--middle-font-weight);
}
.toc-page__contents a {
    color: var(--shark);
    display: block;
    text-decoration: none;
}
.toc-page__contents li {
    margin-bottom: 23mm;
    display: block;
}

.toc-page__numbers {
    font-size: 31pt;
    color: var(--french-gray);
    font-weight: var(--middle-font-weight);
}

.toc-page__sections {
    margin-left: 13mm;
    font-size: 24pt;
    left: 23.2mm;
    white-space: nowrap;
    font-weight: var(--middle-font-weight);
    color: var(--shark);
}

#toc-page-es a[href="#organisational-maturity-page-es"] .toc-page__sections,
#toc-page-en a[href="#organisational-maturity-page"] .toc-page__sections {
    margin-left: 17.3mm;
}
#toc-page-es a[href="#continuous-delivery-page-es"] .toc-page__sections,
#toc-page-en a[href="#continuous-delivery-page"] .toc-page__sections {
    margin-left: 19mm;
}
