.app {
  background-image: url(https://f.hubspotusercontent10.net/hubfs/3042464/Software%20Modernisation/software-modernisation-lp-files/Compass/SoftMod-compass-questionnaire-background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}
