<html>
<head>
    <title>Chart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .container {
            height: 600px;
            width: 600px;
        }
    </style>
</head>
<body>
<div class="container">
    <canvas id="myChart" width="600" height="600"></canvas>
</div>
<script>
  var ctx = document.getElementById('myChart')
  Chart.defaults.global.defaultFontFamily = '\'Open Sans\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['Delivery', 'XP', 'TDD', 'Cloud', 'DevOps', 'Culture'],
      datasets: [
        {
          label: 'Performance',
          data: [{{scores}}],
          backgroundColor: [
            'rgba(219, 73, 0, 0.6)',
          ],
          borderColor: [
            'rgba(168, 25, 0,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      }
    }
  })
</script>
</body>
</html>