<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Proxima Nova font from Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/gpw7xtk.css">
  {{!--<link rel="stylesheet" href="{#asset /css/style.css @encoding=utf8}">--}}
  <title>Codurance Compass</title>
  <style>
    {#asset /css/_reset.css @encoding=utf8}
    {#asset /css/_global.css @encoding=utf8}
    {#asset /css/_copyright.css @encoding=utf8}
    {#asset /css/_front-page.css @encoding=utf8}
    {#asset /css/_intro-page.css @encoding=utf8}
    {#asset /css/_assessment-page.css @encoding=utf8}
    {#asset /css/_toc-page.css @encoding=utf8}
    {#asset /css/style.css @encoding=utf8}
  </style>
</head>
<body>
    


  <!-- BEGIN FRONT PAGE ---------------------------------------------------------- -->
  <section id="front-page" class="page page-break-after">
      <div id="front-page_contact-container">
        <ul id="front-page_contact-info">
          <li>
              <a href="tel:+442074902967">
                <i id="front-page_phone-icon"></i>+44 207 4902967
              </a>
          </li>
          <li>
              <a href="mailto:contact@codurance.com">
                <i id="front-page_email-icon"></i>contact@codurance.com
              </a>
          </li>
        </ul>
      </div>

      <h2 id="front-page_detailing" class="front-page_left-margin">
          Detailing:<br>
          <span id="front-page_detailing-var">Example Company</span>
      </h2>
      <h3 id="front-page_date" class="front-page_left-margin front-page_subcopy">
          Date: <span class="front-page_date-name-vars">01 / 01 / 2019</span>
      </h3>
      <h3 id="front-page_prepared" class="front-page_left-margin front-page_subcopy">
          Prepared for: <span class="front-page_date-name-vars">Jason Sanchez</span>
      </h3>
  </section>
  <!-- END FRONT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN INTRO PAGE ---------------------------------------------------------- -->
  <section id="intro-page" class="page page-break-after">
    <ul id="intro-page_contact-info">
      <li>
          Phone: <a href="tel:+442074902967">+44 207 4902967</a>
      </li>
      <li>
          Email: <a href="mailto:contact@codurance.com">contact@codurance.com</a>
      </li>
    </ul>
  </section>
  <!-- END INTRO PAGE ---------------------------------------------------------- -->

  <!-- BEGIN YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->
  <section id="assessment-page" class="page page-break-after dark">
    <div class="assessment-page_graph om">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text om">Example Text</p>
    </div>
    <div class="assessment-page_graph cd">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text cd">Example Text</p>
    </div>
    <div class="assessment-page_graph c">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text c">Example Text</p>
    </div>
    <div class="assessment-page_graph cft">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text cft">Example Text</p>
    </div>
    <div class="assessment-page_graph xpp">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text xpp">Example Text</p>
    </div>
  </section>
  <!-- END YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN TOC PAGE ---------------------------------------------------------- -->
  <section id="toc-page" class="page page-break-after">
    <ul id="toc-page_toc">
      <li id="toc-page_toc-numbers">
        <span><a href="#om-results-page">5</a></span>
        <span><a href="#cd-results-page">7</a></span>
        <span><a href="#c-results-page">9</a></span>
        <span><a href="#cft-results-page">11</a></span>
        <span><a href="#xpp-results-page">13</a></span>
        <span><a href="#summary-page">15</a></span>
      </li>
      <li id="toc-page_toc-names">
        <span><a href="#om-results-page">Organisational Maturity</a></span>
        <span><a href="#cd-results-page">Continuous Delivery</a></span>
        <span><a href="#c-results-page">Culture</a></span>
        <span><a href="#cft-results-page">Cross-Functional Teams</a></span>
        <span><a href="#xpp-results-page">XP Practices</a></span>
        <span><a href="#summary-page">Summary</a></span>
      </li>
    </ul>
  </section>
  <!-- END TOC PAGE ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->
  <section id="om-results-page" class="page page-break-after">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->
  <section id="om-breakdown-page" class="page page-break-after"></section>
  <!-- END ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->
  <section id="cd-results-page" class="page page-break-after dark">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->
  <section id="cd-breakdown-page" class="page page-break-after dark"></section>
  <!-- END CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CULTURE RESULTS PAGE ---------------------------------------------------------- -->
  <section id="c-results-page" class="page page-break-after">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END CULTURE RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CULTURE RESULTS PAGE ---------------------------------------------------------- -->
  <section id="c-breakdown-page" class="page page-break-after"></section>
  <!-- END CULTURE RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->
   <section id="cft-results-page" class="page page-break-after dark">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->
  <section id="cft-breakdown-page" class="page page-break-after dark"></section>
  <!-- END CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN XP PRACTICES TEAMS ---------------------------------------------------------- -->
  <section id="xpp-results-page" class="page page-break-after">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END XP PRACTICES TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN XP PRACTICES TEAMS ---------------------------------------------------------- -->
  <section id="xpp-breakdown-page" class="page page-break-after"></section>
  <!-- END XP PRACTICES TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN SUMMARY PAGE ---------------------------------------------------------- -->
  <section id="summary-page" class="page page-break-after"></section>
  <!-- END SUMMARY PAGE ---------------------------------------------------------- -->



</body>
<script>
    {#asset /js/index.js @encoding=utf8}
</script>
</html>