<html>
<head>
    <title>Chart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .container {
            height: 600px;
            width: 600px;
        }

        @media print {
            .page-break-before {
                page-break-before: always;
            }
            .page-break-after {
                page-break-after: always;
            }
        }
    </style>
</head>
<body>
<div class="page-break-after">
    <img src="{#asset codurance.png @encoding=dataURI}" style="height: 150px; width: 700px;" />
</div>
<div class="container">
    <canvas id="myChart" width="600" height="600"></canvas>
</div>
{{#each categories}}
    <div class="page-break-before">
        <p>{{this.name}} - {{this.score}}</p>
        <p>{{this.content}}</p>
    </div>
{{/each}}
<script>
  var ctx = document.getElementById('myChart')
  Chart.defaults.global.defaultFontFamily = '\'Open Sans\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['Delivery', 'XP', 'TDD', 'Cloud', 'DevOps', 'Culture'],
      datasets: [
        {
          label: 'Performance',
          data: [{{scores}}],
          backgroundColor: [
            'rgba(219, 73, 0, 0.6)',
          ],
          borderColor: [
            'rgba(168, 25, 0,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      }
    }
  })
</script>
</body>
</html>