.app {
  padding-top: 30px;
  padding-left: 100px;
  background: url('./src/assets/icons/report-bg-landing-page.svg') no-repeat;
  background-size: 600px;
  background-position-x: 105%;
  background-position-y: -80%;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    max-width: 100vw;
  }
}
