.loader {
  background-image: url('./icons/report-bg-landing-page.svg');
  background-image: url('./icons/report-landing-page.png');
  background-image: url('./icons/brochure-continuous-delivery.png');
  background-image: url('./icons/brochure-cross-functional-teams.png');
  background-image: url('./icons/brochure-organisational-maturity.png');
  background-image: url('./icons/brochure-xp-culture.png');
  background-image: url('./icons/brochure-xp-practices.png');

  background-image: url('./icons/background-continuousDelivery.svg');
  background-image: url('./icons/background-crossFunctionalTeams.svg');
  background-image: url('./icons/background-organisationalMaturity.svg');
  background-image: url('./icons/background-culture.svg');
  background-image: url('./icons/background-xpPractices.svg');
  background-image: url('./icons/background-xpPractices.svg');
  background-image: url('./icons/background-compass.svg');
  background-image: url('./icons/report-bg-landing-page-mobile.jpg');

  background-image: url('./icons/check.svg');
}
