/* page-en BACKGROUNDS */
.with-background-img {
  background-size: cover;
  background-repeat: no-repeat;
}

#front-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/cover-EN.jpg @encoding=dataURI}');
}
#intro-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/intro-EN.jpg @encoding=dataURI}');
}
#assessment-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/assessment-EN.jpg @encoding=dataURI}');
}
#toc-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/table-of-contents-EN.jpg @encoding=dataURI}');
}


#organisational-maturity-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-EN.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-good-EN.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-avg-EN.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-bad-EN.jpg @encoding=dataURI}');
}


#continuous-delivery-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-EN.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-good-EN.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-avg-EN.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-bad-EN.jpg @encoding=dataURI}');
}

#people-culture-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/people-culture-EN.jpg @encoding=dataURI}');
}
#people-culture-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/people-culture-good-EN.jpg @encoding=dataURI}');
}
#people-culture-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/people-culture-avg-EN.jpg @encoding=dataURI}');
}
#people-culture-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/people-culture-bad-EN.jpg @encoding=dataURI}');
}

#effective-team-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/effective-team-EN.jpg @encoding=dataURI}');
}
#effective-team-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/effective-team-good-EN.jpg @encoding=dataURI}');
}
#effective-team-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/effective-team-avg-EN.jpg @encoding=dataURI}');
}
#effective-team-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/effective-team-bad-EN.jpg @encoding=dataURI}');
}

#technical-practices-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/technical-practices-EN.jpg @encoding=dataURI}');
}
#technical-practices-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/technical-practices-good-EN.jpg @encoding=dataURI}');
}
#technical-practices-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/technical-practices-avg-EN.jpg @encoding=dataURI}');
}
#technical-practices-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/technical-practices-bad-EN.jpg @encoding=dataURI}');
}

#summary-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/summary-EN.jpg @encoding=dataURI}');
}