@mixin icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.answer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--french-gray);
  display: flex;
  height: 40px;
  max-width: 100%;
  min-width: 365px;
  padding: 15px 10px;
  transition-duration: 0.2s;
  transition-property: color box-shadow;
  transition-timing-function: ease-out;
  justify-content: space-between;

  &__icon {
    @include icon();
    border: solid 2px var(--french-gray);
  }

  &--selected {
    border-radius: 4px;
    border: solid 1px var(--white);
    box-shadow: 0px 0px 7px 1px var(--french-gray);
    color: var(--woodsmoke);

    .answer__icon {
      @include icon();
      background: url('./src/assets/icons/check.svg') no-repeat;
      border: none;
    }
  }

  & + & {
    margin-top: 8px;
  }

  &:hover {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 1px var(--french-gray);
    color: var(--woodsmoke);
  }
}
