/* page-en BACKGROUNDS */
.with-background-img {
  background-size: cover;
  background-repeat: no-repeat;
}

#front-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/cover-EN.jpg @encoding=dataURI}');
}
#intro-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/intro-EN.jpg @encoding=dataURI}');
}
#assessment-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/assessment-EN.jpg @encoding=dataURI}');
}
#toc-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/table-of-contents-EN.jpg @encoding=dataURI}');
}


#organisational-maturity-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-EN.jpg @encoding=dataURI}');
}
#organisational-maturity-results-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-results-EN.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-good-EN.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-avg-EN.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-maturity-bad-EN.jpg @encoding=dataURI}');
}


#continuous-delivery-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-EN.jpg @encoding=dataURI}');
}
#continuous-delivery-results-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-results-EN.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-good-EN.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-avg-EN.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/continuous-delivery-bad-EN.jpg @encoding=dataURI}');
}

#organisational-culture-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-culture-EN.jpg @encoding=dataURI}');
}
#organisational-culture-results-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-culture-results-EN.jpg @encoding=dataURI}');
}
#organisational-culture-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-culture-good-EN.jpg @encoding=dataURI}');
}
#organisational-culture-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-culture-avg-EN.jpg @encoding=dataURI}');
}
#organisational-culture-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/organisational-culture-bad-EN.jpg @encoding=dataURI}');
}

#team-effectiveness-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/team-effectiveness-EN.jpg @encoding=dataURI}');
}
#team-effectiveness-results-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/team-effectiveness-results-EN.jpg @encoding=dataURI}');
}
#team-effectiveness-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/team-effectiveness-good-EN.jpg @encoding=dataURI}');
}
#team-effectiveness-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/team-effectiveness-avg-EN.jpg @encoding=dataURI}');
}
#team-effectiveness-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/team-effectiveness-bad-EN.jpg @encoding=dataURI}');
}

#xp-practices-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/xp-practices-EN.jpg @encoding=dataURI}');
}
#xp-practices-results-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/xp-practices-results-EN.jpg @encoding=dataURI}');
}
#xp-practices-breakdown-page-en.good {
  background-image: url('{#asset /assets/pageImgs-EN/xp-practices-good-EN.jpg @encoding=dataURI}');
}
#xp-practices-breakdown-page-en.average {
  background-image: url('{#asset /assets/pageImgs-EN/xp-practices-avg-EN.jpg @encoding=dataURI}');
}
#xp-practices-breakdown-page-en.bad {
  background-image: url('{#asset /assets/pageImgs-EN/xp-practices-bad-EN.jpg @encoding=dataURI}');
}

#summary-page-en {
  background-image: url('{#asset /assets/pageImgs-EN/summary-EN.jpg @encoding=dataURI}');
}