.intro-page__contact-info {
  list-style: none;
  display: inline;
  position: absolute;
  left: 26.1mm;
  top: 170mm;
  font-weight: var(--heavy-font-weight);
  color: var(--shark);
}
.intro-page__contact-info.second {
    left: 90.8mm;
}

.intro-page__contact-info a {
  text-decoration: none;
  color: var(--shark);
}

.intro-page__contact-header {
    font-weight: var(--heavy-font-weight);
    font-size: 13.33pt;
    margin-bottom: 6mm;
}
