/* PAGE BACKGROUNDS */

#front-page-es {
    background: url('{#asset /assets/pageImgs-ES/cover-ES.jpg @encoding=dataURI}') no-repeat;
    background-size: cover;
}

#intro-page-es {
  background: url('{#asset /assets/pageImgs-ES/intro-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#assessment-page-es {
  background: url('{#asset /assets/pageImgs-ES/assessment-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#toc-page-es {
  background: url('{#asset /assets/pageImgs-ES/table-of-contents-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#organisational-maturity-page-es {
  background: url('{#asset /assets/pageImgs-ES/organisational-maturity-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#organisational-maturity-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/organisational-maturity-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#continuous-delivery-page-es {
  background: url('{#asset /assets/pageImgs-ES/continuous-delivery-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#continuous-delivery-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/continuous-delivery-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#people-culture-page-es {
  background: url('{#asset /assets/pageImgs-ES/people-culture-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#people-culture-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/people-culture-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#effective-team-page-es {
  background: url('{#asset /assets/pageImgs-ES/effective-team-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#effective-team-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/effective-team-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#technical-practices-page-es {
  background: url('{#asset /assets/pageImgs-ES/technical-practices-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#technical-practices-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/technical-practices-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#summary-page-es {
  background: url('{#asset /assets/pageImgs-ES/summary-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}






















