@import url('_reset.css');
@import url('_global.css');
@import url('_copyright.css');
@import url('_front-page.css');
@import url('_intro-page.css');
@import url('_toc-page.css');
@import url('_assessment-page.css');

/* PAGE BACKGROUNDS */
#intro-page {
  background: url('{#asset /assets/pageImgs/intro.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#assessment-page {
  background: url('{#asset /assets/pageImgs/assessment.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#toc-page {
  background: url('{#asset /assets/pageImgs/toc.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#om-results-page {
  background: url('{#asset /assets/pageImgs/organisational-maturity.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#om-breakdown-page {
  background: url('{#asset /assets/pageImgs/om-breakdown-page-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#cd-results-page {
  background: url('{#asset /assets/pageImgs/continuous-delivery.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#cd-results-page .graph-bar .graph-bar_result-bar {
  background: #5d66b6;
}
#cd-breakdown-page {
  background: url('{#asset /assets/pageImgs/cd-breakdown-page-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#c-results-page {
  background: url('{#asset /assets/pageImgs/culture.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#c-results-page .graph-bar .graph-bar_result-bar {
  background: var(--small-text-on-dark-yellow);
}
#c-breakdown-page {
  background: url('{#asset /assets/pageImgs/c-breakdown-page-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#cft-results-page {
  background: url('{#asset /assets/pageImgs/cross-functional-teams.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#cft-results-page .graph-bar .graph-bar_result-bar {
  background: var(--small-text-on-dark-red);
}
#cft-breakdown-page {
  background: url('{#asset /assets/pageImgs/cft-breakdown-page-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#xpp-results-page {
  background: url('{#asset /assets/pageImgs/xp-practices.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#xpp-results-page .graph-bar .graph-bar_result-bar {
  background: var(--codurance-orange);
}
#xpp-breakdown-page {
  background: url('{#asset /assets/pageImgs/xpp-breakdown-page-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#summary-page {
  background: url('{#asset /assets/pageImgs/summary.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}