/* PAGE BACKGROUNDS */
#front-page {
    background: url('{#asset /assets/pageImgs/cover.jpg @encoding=dataURI}') no-repeat;
    background-size: cover;
}
#front-page-es {
    background: url('{#asset /assets/pageImgs-ES/cover-ES.jpg @encoding=dataURI}') no-repeat;
    background-size: cover;
}

#intro-page {
  background: url('{#asset /assets/pageImgs/intro.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#intro-page-es {
  background: url('{#asset /assets/pageImgs-ES/intro-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#assessment-page {
  background: url('{#asset /assets/pageImgs/assessment.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#assessment-page-es {
  background: url('{#asset /assets/pageImgs-ES/assessment-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#toc-page {
  background: url('{#asset /assets/pageImgs/table-of-contents.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#toc-page-es {
  background: url('{#asset /assets/pageImgs-ES/table-of-contents-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#organisational-maturity-page {
  background: url('{#asset /assets/pageImgs/organisational-maturity.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#organisational-maturity-page-es {
  background: url('{#asset /assets/pageImgs-ES/organisational-maturity-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#organisational-maturity-breakdown-page {
  background: url('{#asset /assets/pageImgs/organisational-maturity-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#organisational-maturity-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/organisational-maturity-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#continuous-delivery-page {
  background: url('{#asset /assets/pageImgs/continuous-delivery.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#continuous-delivery-page-es {
  background: url('{#asset /assets/pageImgs-ES/continuous-delivery-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#continuous-delivery-breakdown-page {
  background: url('{#asset /assets/pageImgs/continuous-delivery-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#continuous-delivery-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/continuous-delivery-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#people-culture-page {
  background: url('{#asset /assets/pageImgs/people-culture.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#people-culture-page-es {
  background: url('{#asset /assets/pageImgs-ES/people-culture-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#people-culture-breakdown-page {
  background: url('{#asset /assets/pageImgs/people-culture-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#people-culture-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/people-culture-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#effective-team-page {
  background: url('{#asset /assets/pageImgs/effective-team.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#effective-team-page-es {
  background: url('{#asset /assets/pageImgs-ES/effective-team-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#effective-team-breakdown-page {
  background: url('{#asset /assets/pageImgs/effective-team-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#effective-team-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/effective-team-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#technical-practices-page {
  background: url('{#asset /assets/pageImgs/technical-practices.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#technical-practices-page-es {
  background: url('{#asset /assets/pageImgs-ES/technical-practices-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#technical-practices-breakdown-page {
  background: url('{#asset /assets/pageImgs/technical-practices-avg.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#technical-practices-breakdown-page-es {
  background: url('{#asset /assets/pageImgs-ES/technical-practices-avg-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}

#summary-page {
  background: url('{#asset /assets/pageImgs/summary.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}
#summary-page-es {
  background: url('{#asset /assets/pageImgs-ES/summary-ES.jpg @encoding=dataURI}') no-repeat;
  background-size: cover;
}






















