@import url('_reset.css');
@import url('_global.css');
@import url('_copyright.css');
@import url('_front-page.css');
@import url('_intro-page.css');
@import url('_toc-page.css');
@import url('_assessment-page.css');

/* PAGE BACKGROUNDS */
#intro-page {
  background: url('../img/pages/intro.jpg') no-repeat;
  background-size: cover;
}

#assessment-page {
  background: url('../img/pages/assessment.jpg') no-repeat;
  background-size: cover;
}

#toc-page {
  background: url('../img/pages/toc.jpg') no-repeat;
  background-size: cover;
}

#om-results-page {
  background: url('../img/pages/organisational-maturity.jpg') no-repeat;
  background-size: cover;
}
#om-breakdown-page {
  background: url('../img/pages/om-breakdownPage-avg.jpg') no-repeat;
  background-size: cover;
}

#cd-results-page {
  background: url('../img/pages/continuous-delivery.jpg') no-repeat;
  background-size: cover;
}
#cd-results-page .graph-bar .graph-bar_result-bar {
  background: #5d66b6;
}
#cd-breakdown-page {
  background: url('../img/pages/cd-breakdownPage-avg.jpg') no-repeat;
  background-size: cover;
}

#c-results-page {
  background: url('../img/pages/culture.jpg') no-repeat;
  background-size: cover;
}
#c-results-page .graph-bar .graph-bar_result-bar {
  background: var(--small-text-on-dark-yellow);
}
#c-breakdown-page {
  background: url('../img/pages/c-breakdownPage-avg.jpg') no-repeat;
  background-size: cover;
}

#cft-results-page {
  background: url('../img/pages/cross-functional-teams.jpg') no-repeat;
  background-size: cover;
}
#cft-results-page .graph-bar .graph-bar_result-bar {
  background: var(--small-text-on-dark-red);
}
#cft-breakdown-page {
  background: url('../img/pages/cft-breakdownPage-avg.jpg') no-repeat;
  background-size: cover;
}

#xpp-results-page {
  background: url('../img/pages/xp-practices.jpg') no-repeat;
  background-size: cover;
}
#xpp-results-page .graph-bar .graph-bar_result-bar {
  background: var(--codurance-orange);
}
#xpp-breakdown-page {
  background: url('../img/pages/xpp-breakdownPage-avg.jpg') no-repeat;
  background-size: cover;
}

#summary-page {
  background: url('../img/pages/summary.jpg') no-repeat;
  background-size: cover;
}