@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: local('Proxima Nova Thin'),
    url('./Proxima-Nova-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: local('Proxima Nova Regular'),
    url('./ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: local('Proxima Nova Bold'),
    url('./Proxima-Nova-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: local('Proxima Nova Extra Extrabold'),
    url('./Proxima-Nova-Extrabold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 900;
  src: local('Proxima Nova Black'),
    url('./Proxima-Nova-Black.woff') format('woff');
}
