@import '../../styles/global.scss';

.question {
  @include freed();
  font-weight: var(--welter-font-weight);
  height: 130px;
  margin-bottom: 32px;
}

.answer-list {
  height: 280px;
  list-style-type: none;
}
