@import '../../styles/global.scss';

.question {
  @include main-wrapper-left();

  &__label {
    @include freed();
    font-weight: var(--welter-font-weight);
    height: 140px;
    margin-bottom: 32px;
  }

  .answer-list {
    height: 280px;
    list-style-type: none;
    margin-bottom: 10px;
  }
}
