{#asset /css/_gauge-subcategory.css @encoding=utf8}
{#asset /css/_gauge-assessment.css @encoding=utf8}
{#asset /css/_gauge-summary.css @encoding=utf8}

.good.on-dark {
    background: var(--accent-green--dark-bkg);
}
.average.on-dark {
    background: var(--accent-blue--dark-bkg);
}
.bad.on-dark {
    background: var(--accent-yellow--dark-bkg);
}
.good.on-light {
    background: var(--accent-green--light-bkg);
}
.average.on-light {
    background: var(--accent-blue--light-bkg);
}
.bad.on-light {
    background: var(--accent-yellow--light-bkg);
}

