@import '../../styles/global.scss';

.landing {
  background: url(./src/assets/icons/report-bg-landing-page.svg) no-repeat right;
  height: 100vh;
  margin-left: 100px;
  margin-top: 20px;
  width: 100vw;

  &__assessment {
    position: absolute;
    right: 50px;
    bottom: -50px;
    height: 100%;
    width: 100%;
    background: url(./src/assets/icons/report-landing-page.svg) no-repeat right;
  }

  &__header {
    align-items: center;
    display: flex;

    &__separator {
      border-left: solid 1px grey;
      height: 50px;
      margin: 0 15px;
    }
  }

  &__main {
    margin-bottom: 40px;
    margin-top: 100px;
    max-width: 500px;
    width: 100%;

    &__title {
      @include dudler;
      font-weight: 700;
    }

    &__icons {
      display: flex;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      p {
        @include sejima;
        font-weight: var(--middle-font-weight);
        line-height: 0.9rem;
        margin-top: 13px;
        text-align: center;
      }

      div + div {
        margin-left: 30px;
      }
    }

    button {
      margin-top: 30px;
    }
  }
}
