@import '../../styles/mixins/mixins.scss';

.landing__wrapper {
  background: url(./src/assets/icons/report-bg-landing-page.svg);
  background-repeat: no-repeat;
  background-position-x: 200%;
  background-position-y: 50%;
  background-size: 70%;
  width: 100%;
  z-index: 1;

  @include small {
    background: url(./src/assets/icons/report-bg-landing-page-mobile.jpg);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: bottom;
    background-size: 100%;
  }
}

.landing {
  height: 100%;
  min-height: 100vh;
  background-size: 1607px;
  background-position-x: 900px;
  overflow: hidden;
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1100px;
  margin: auto;

  &__assessment {
    position: absolute;
    height: 120%;
    width: 43%;
    right: 0;
    background: url('./src/assets/icons/report-landing-page.png') no-repeat
      right;
    background-size: 100%;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    bottom: -80px;
    z-index: 1;

    @include small {
      display: none;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      bottom: -110px;
      transform: rotate(5deg);
    }
    100% {
      opacity: 1;
      bottom: -80px;
      transform: rotate(0deg);
    }
  }

  &__main {
    margin-bottom: 40px;
    margin-top: 70px;
    max-width: 530px;
    width: 100%;
    z-index: 2;
    position: relative;

    @include small {
      margin-top: 30px;
    }

    &__title {
      @include dudler;
      font-weight: 700;
    }

    &__icons {
      display: flex;
      align-items: baseline;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
        }
      }

      p {
        @include sejima;
        font-weight: var(--middle-font-weight);
        line-height: 0.9rem;
        margin-top: 13px;
        text-align: center;
      }

      div + div {
        margin-left: 30px;

        @include small {
          margin-left: 7px;
        }
      }
    }

    button {
      margin-top: 30px;

      @include small {
        margin-top: 0;
      }
    }
  }
}
