#front-page-es.page,
#front-page-en.page {
    color: white;
    font-size: 13.33pt;
    font-weight: var(--font-weight-bold);
    text-align: right;
}

#front-page_company-name {
  display: inline-block;
  position: absolute;
  top: 201.5mm;
  right: 26mm;
  width: 109mm;
  text-align: right;
  color: white;
}

#front-page_date {
  display: inline-block;
  position: absolute;
  top: 227mm;
  right: 26mm;
  width: 39mm;
  text-align: right;
  color: white;
}
