@import '../../styles/global.scss';

@mixin step($color, $height, $opacity: 1) {
  background-color: $color;
  display: flex;
  height: $height;
  width: 45px;
  opacity: $opacity;
}

.progress-bar {
  align-items: center;
  display: flex;
  margin-top: 50px;

  &__category {
    align-items: center;
    display: flex;
  }

  &__category + &__category {
    margin-left: 3px;
  }

  &__step {
    @include step(var(--french-gray), 10px, 0.5);

    &--iniciated {
      @include step(var(--picton-blue), 13px, 0.3);
    }

    &--completed {
      @include step(var(--picton-blue), 13px, 0.6);
    }
  }
}
