<div class="assessment-page__warning-box hidden" data-category="organisational-maturity">
    <i class="assessment-page__warning-icon"></i>
</div>
<div class="assessment-page__barchart" data-category="organisational-maturity">
    <div class="assessment-page__inner-fill" data-category="organisational-maturity"></div>
    <div class="assessment-page__markers-container">
        <div class="assessment-page__marker"></div>
        <div class="assessment-page__marker"></div>
        <div class="assessment-page__marker"></div>
        <div class="assessment-page__marker"></div>
        <div class="assessment-page__marker"></div>
    </div>
</div>