@import '../../styles/global.scss';

@keyframes questionnaireFadeIn {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.questionnaire {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;

  &__question-wrapper {
    height: 500px;
    max-width: 400px;
    padding-top: 50px;
    -webkit-animation: questionnaireFadeIn ease 0.7s;
    -moz-animation: questionnaireFadeIn ease 0.7s;
    -o-animation: questionnaireFadeIn ease 0.7s;
    -ms-animation: questionnaireFadeIn ease 0.7s;
  }

  &__assessment {
    max-width: 450px;
    width: 100%;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

@mixin arrow($rotation: 0) {
  align-items: center;
  display: flex;
  position: absolute;
  img {
    @include arrowIcon($rotation);
  }
  span {
    @include arrowSpan();
  }
}

@mixin arrowIcon($rotate: 0deg) {
  margin-bottom: 4px;
  transform: rotate($rotate);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  width: 20px;
}

@mixin arrowSpan {
  font-size: 19px;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 5px;
  transition-duration: 0.3s;
  transition-property: color;
  transition-timing-function: ease-out;
}

.arrow-button {
  &--prev {
    @include arrow(180deg);
    left: 0;

    &:hover {
      cursor: pointer;
      img {
        transform: translateX(-5px) rotate(180deg);
      }
      span {
        color: var(--picton-blue);
      }
    }
  }

  &--next {
    @include arrow();
    right: 0;

    &:hover {
      cursor: pointer;
      img {
        transform: translateX(5px);
      }
      span {
        color: var(--picton-blue);
      }
    }
  }
}
