@import '../../styles/global.scss';

@mixin brochure($backgroundUrl) {
  width: 420px;
  height: 500px;
  background-repeat: no-repeat;
  background: url($backgroundUrl);
}

.questionnaire {
  @include main-wrapper();

  margin-top: 30px;

  &__assessment {
    max-width: 450px;
    width: 100%;

    &--organisationalMaturity {
      @include brochure(
        './src/assets/icons/brochure-organisational-maturity.png'
      );
    }
    &--crossFunctionalTeams {
      @include brochure(
        './src/assets/icons/brochure-cross-functional-teams.png'
      );
    }
    &--xpPractices {
      @include brochure('./src/assets/icons/brochure-xp-practices.png');
    }
    &--culture {
      @include brochure('./src/assets/icons/brochure-xp-culture.png');
    }
    &--continuousDelivery {
      @include brochure('./src/assets/icons/brochure-continuous-delivery.png');
    }
  }
}
