<link rel="stylesheet" type="text/css" href="/css/cookie-message.css" />

<!-- This was obtained from https://github.com/studio24/cookie-message-->

<div class="cookie-message__container" data-test="cookie-msg" >
    <div class="cookie-message__text" data-test="cookie-msg-text">
        <%= cookieMessage.text%>
        <a href="<%= cookieMessage.policyLink %>" target="_blank" title="View our Cookie Policy" class="cookie-policy__link">
          <%= cookieMessage.viewPolicy %>
        </a>
    </div>
      <button class="cookie-message__button" title="Accept" data-test="cookie-msg-btn">
        <%= cookieMessage.accept %>
      </button>
  </div>
  