<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Codurance Compass</title>
</head>
<body>
  <div id="typeform-survey" style="height: 98vh;"></div>

  <script src="https://embed.typeform.com/embed.js"></script>
  <script src="bundle.js"></script>
</body>
</html>