/* page-es BACKGROUNDS */
.with-background-img {
  background-size: cover;
  background-repeat: no-repeat;
}

#front-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/cover-ES.jpg @encoding=dataURI}');
}
#intro-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/intro-ES.jpg @encoding=dataURI}');
}
#assessment-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/assessment-ES.jpg @encoding=dataURI}');
}
#toc-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/table-of-contents-ES.jpg @encoding=dataURI}');
}


#organisational-maturity-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-results-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-good-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-avg-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-bad-ES.jpg @encoding=dataURI}');
}


#continuous-delivery-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-results-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-good-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-avg-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-bad-ES.jpg @encoding=dataURI}');
}

#organisational-culture-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-culture-ES.jpg @encoding=dataURI}');
}
#organisational-culture-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-culture-results-ES.jpg @encoding=dataURI}');
}
#organisational-culture-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-culture-good-ES.jpg @encoding=dataURI}');
}
#organisational-culture-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-culture-avg-ES.jpg @encoding=dataURI}');
}
#organisational-culture-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-culture-bad-ES.jpg @encoding=dataURI}');
}

#team-effectiveness-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/team-effectiveness-ES.jpg @encoding=dataURI}');
}
#team-effectiveness-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/team-effectiveness-results-ES.jpg @encoding=dataURI}');
}
#team-effectiveness-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/team-effectiveness-good-ES.jpg @encoding=dataURI}');
}
#team-effectiveness-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/team-effectiveness-avg-ES.jpg @encoding=dataURI}');
}
#team-effectiveness-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/team-effectiveness-bad-ES.jpg @encoding=dataURI}');
}

#xp-practices-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/xp-practices-ES.jpg @encoding=dataURI}');
}
#xp-practices-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/xp-practices-results-ES.jpg @encoding=dataURI}');
}
#xp-practices-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/xp-practices-good-ES.jpg @encoding=dataURI}');
}
#xp-practices-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/xp-practices-avg-ES.jpg @encoding=dataURI}');
}
#xp-practices-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/xp-practices-bad-ES.jpg @encoding=dataURI}');
}

#summary-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/summary-ES.jpg @encoding=dataURI}');
}