/* VARIABLES -------------------------------------- */
:root {
  /* COLOURS */
  --codurance-green: #185466;
  --codurance-light-green: #61BFBB;
  --codurance-purple: #5c64b9;
  --codurance-orange: #ef7726;
  --text-black: #0E0E0E;
  --graph-bar-background-on-light: #e1e1e1;
  --graph-bar-background-on-dark: #eef0f0;
  --footnote-on-dark: #619db9;
  --footnote-on-toc: #f0eff5;
  --toc-font-color: #a0d2cc;
  --small-text-on-dark-purple: #b2b7d1;
  --small-text-on-dark-yellow: #f8ce57;
  --small-text-on-dark-red: #f99fb7;
  --small-text-on-dark-orange: #fec589;


  /* TYPE */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-page-header: 51pt;
  --line-height-page-header: 1.15em;

  --font-size-body: 10pt;
  --line-height-body: 1.5em;
}




/* TYPE -------------------------------------- */
body {
  font-family: proxima-nova;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--text-black);
}

/* .page-header {
  font-family: proxima-nova;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  text-align: left;
  font-size: var(--font-size-page-header);
  line-height: var(--line-height-page-header);
}
.page-header.light {
  color: var(--codurance-green);
}
.page-header.dark {
  color: var(--codurance-light-green);
} */



/* LAYOUTS -------------------------------------- */
.page {
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-width: 100%;
  min-height: 209.55mm;
  max-width: 100%;
  max-height: 209.55mm;
}
.page-break-before {
  break-before: page;
}

.page-break-after {
  break-after: page;
}
/* p {
  break-inside: avoid-page;
} */



/* STYLING -------------------------------------- */
html {
  background: dimgray;
}
body {
  padding: 0;
  margin: 0;
}

/* .js-currentYear {
  color: inherit;
} */

.graph-bar {
  width: 103mm;
  height: 3mm;
  position: absolute;
  background: var(--graph-bar-background-on-light);
  right: 28mm;
  top: 74mm;
}
.graph-bar.bar-2 {
  top: 100mm;
}
.graph-bar.bar-3 {
  top: 127mm;
}
.graph-bar.bar-4 {
  top: 153mm;
}
.graph-bar_result-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--codurance-light-green);
}
