/* VARIABLES -------------------------------------- */
:root {
  /* COLOURS */
  --primary-coral: #fa7268;
  --text-black: #404040;
  --accent-yellow: #ffca4d;
  --accent-green: #63f1a4;
  --accent-blue: #53ceea;
  --functional-light-grey: #e0e0e0;
  --functional-medium-grey: #85898f;
  
  --background-peach: #fff0e0;
  
  /*--graph-bar-background-on-light: #e1e1e1;*/
  /*--graph-bar-background-on-dark: #eef0f0;*/
  /*--footnote-on-dark: #619db9;*/
  /*--footnote-on-toc: #f0eff5;*/
  /*--toc-font-color: #a0d2cc;*/
  
  /*--small-text-on-dark-purple: #b2b7d1;*/
  /*--small-text-on-dark-yellow: #f8ce57;*/
  /*--small-text-on-dark-red: #f99fb7;*/
  /*--small-text-on-dark-orange: #fec589;*/


  /* TYPE */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-body: 10pt;
  --line-height-body: 1.5em;
}




/* TYPE -------------------------------------- */
html, body {
  font-family: proxima-nova;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--text-black);
}

/* LAYOUTS -------------------------------------- */
.page {
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-width: 210mm;
  min-height: 297mm;
  max-width: 210mm;
  max-height: 297mm;
  
}
.page-break-before {
  break-before: page;
}

.page-break-after {
  break-after: page;
}

/* STYLING -------------------------------------- */
html {
  background: dimgray;
}
body {
  padding: 0;
  margin: 0;
}

.good-result {
    background: var(--accent-green);
}
.average-result {
    background: var(--accent-blue);
}
.bad-result {
    background: var(--accent-yellow);
}
.hidden {
    display: none;
}

/* MAIN BAR GRAPHS -------------------------------------- */

.main-bar-graph__container {
    position: absolute;
    left: 42.2mm;
}
.main-bar-graph__bar {
    position: absolute;
    top: 0mm;
    width: 141.5mm;
    height: 3mm;
}
.main-bar-graph__bad-icon {
    position: absolute;
    width: 6.617mm;
    left: -14.5mm;
    top: -4.6mm;
    height: 5.841mm;
}
.main-bar-graph__average-icon {
    position: absolute;
    width: 4.233mm;
    left: -13.25mm;
    top: -3.45mm;
    height: 4.233mm;
}
.main-bar-graph__good-icon {
    position: absolute;
    width: 5.869mm;
    left: -14.5mm;
    top: -3.9mm;
    height: 4.531mm;
}
.main-bar-graph__rule {
    position: absolute;
    top: -8.5mm;
    left: -3.6mm;
    height: 14.13mm;
    width: 2pt;
    background: orange;
}
.main-bar-graph__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}
.main-bar-graph__marker-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 3mm;
    left: 0;
    width: 141.3mm;
}
.main-bar-graph__marker {
    height: 2.269mm;
    width: 0.5mm;
}
.main-bar-graph__container.bar-1 {
    top: 177mm;
}
.main-bar-graph__container.bar-2 {
    top: 255.9mm;
}
.main-bar-graph__container.bar-2 .main-bar-graph__bar {
    top: 0.4mm;
}
.main-bar-graph__container.bar-3 {
    top: 278.25mm;
}
.main-bar-graph__container.bar-4 {
    top: 268.2mm;
}

.on-dark {
    background: var(--functional-medium-grey);
}
.on-light {
    background: #dcd1c4;
}



















