@import '../../styles/mixins/mixins.scss';

.header {
  align-items: center;
  display: flex;

  &__separator {
    border-left: solid 1px grey;
    height: 50px;
    margin: 0 15px;
  }

  @include small {
    img {
      width: 25%;
      height: auto;
    }
    img[alt='Codurance'] {
      max-width: 125px;
    }
    img[alt='Compass'] {
      max-width: 119px;
    }
  }
}
