@import '../../styles/mixins/mixins.scss';

.header {
  align-items: center;
  display: flex;

  &__separator {
    border-left: solid 1px grey;
    height: 50px;
    margin: 0 15px;
  }

  img {
    @include small {
      width: 25%;
      height: auto;
    }
  }
}
