/* page-es BACKGROUNDS */
.with-background-img {
  background-size: cover;
  background-repeat: no-repeat;
}

#front-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/cover-ES.jpg @encoding=dataURI}');
}
#intro-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/intro-ES.jpg @encoding=dataURI}');
}
#assessment-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/assessment-ES.jpg @encoding=dataURI}');
}
#toc-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/table-of-contents-ES.jpg @encoding=dataURI}');
}


#organisational-maturity-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-results-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-good-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-avg-ES.jpg @encoding=dataURI}');
}
#organisational-maturity-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/organisational-maturity-bad-ES.jpg @encoding=dataURI}');
}


#continuous-delivery-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-results-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-good-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-avg-ES.jpg @encoding=dataURI}');
}
#continuous-delivery-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/continuous-delivery-bad-ES.jpg @encoding=dataURI}');
}

#people-culture-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/people-culture-ES.jpg @encoding=dataURI}');
}
#people-culture-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/people-culture-results-ES.jpg @encoding=dataURI}');
}
#people-culture-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/people-culture-good-ES.jpg @encoding=dataURI}');
}
#people-culture-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/people-culture-avg-ES.jpg @encoding=dataURI}');
}
#people-culture-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/people-culture-bad-ES.jpg @encoding=dataURI}');
}

#effective-team-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/effective-team-ES.jpg @encoding=dataURI}');
}
#effective-team-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/effective-team-results-ES.jpg @encoding=dataURI}');
}
#effective-team-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/effective-team-good-ES.jpg @encoding=dataURI}');
}
#effective-team-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/effective-team-avg-ES.jpg @encoding=dataURI}');
}
#effective-team-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/effective-team-bad-ES.jpg @encoding=dataURI}');
}

#technical-practices-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/technical-practices-ES.jpg @encoding=dataURI}');
}
#technical-practices-results-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/technical-practices-results-ES.jpg @encoding=dataURI}');
}
#technical-practices-breakdown-page-es.good {
  background-image: url('{#asset /assets/pageImgs-ES/technical-practices-good-ES.jpg @encoding=dataURI}');
}
#technical-practices-breakdown-page-es.average {
  background-image: url('{#asset /assets/pageImgs-ES/technical-practices-avg-ES.jpg @encoding=dataURI}');
}
#technical-practices-breakdown-page-es.bad {
  background-image: url('{#asset /assets/pageImgs-ES/technical-practices-bad-ES.jpg @encoding=dataURI}');
}

#summary-page-es {
  background-image: url('{#asset /assets/pageImgs-ES/summary-ES.jpg @encoding=dataURI}');
}