{#asset /css/_gauge-subcategory.css @encoding=utf8}
{#asset /css/_gauge-assessment.css @encoding=utf8}
{#asset /css/_gauge-summary.css @encoding=utf8}

.good {
    background: var(--java);
}
.average {
    background: var(--picton-blue);
}
.bad {
    background: var(--gold);
}
