#front-page-es.page,
#front-page-en.page {
    color: var(--mid-gray);
    font-size: 13.33pt;
    font-weight: var(--middle-font-weight);
    text-align: right;
}

#front-page_full-name {
  display: inline-block;
  position: absolute;
  top: 232mm;
  left: 16.5mm;
  width: 109mm;
  text-align: left;
}


#front-page_company-name {
  display: inline-block;
  position: absolute;
  top: 251mm;
  left: 16.5mm;
  width: 109mm;
  text-align: left;
}

#front-page_date {
  display: inline-block;
  position: absolute;
  top: 270mm;
  left: 16.5mm;
  width: 39mm;
  text-align: left;
}
